.body{
     background-color: aqua;
}
.text-highlight {
    color: #ff5722;
}

img.rounded-circle {
    border-radius: 50%;
    width: 100%;
    max-width: 350px;
}

.app-section h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.btn-primary {
    background-color: #ff5722;
    border: none;
}

.btn-outline-secondary {
    color: #ff5722;
    border-color: #ff5722;
}

.btn-outline-secondary:hover {
    background-color: #ff5722;
    color: white;
}
