body{
    background-color: #f8f9fa;
    font-family:Arial, Helvetica, sans-serif;
    background-image: url('light\ food.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}
header{
    background-color: #343a40;
    color: white;
}
.navbar-brand img{
    height: 70px;
}
.track-order{
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.track-order .form-group label{
    font-weight: 200;
}
.order{
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.order .status p{
    margin: 10px 0;
}